*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}
a{
    text-decoration: none !important;
    color: black;
    
}
.subrayado{
    text-decoration: underline;
}
nav{
    height: 5rem;
    font-size: 1.2rem;
}
.nav_logo{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav_display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.icono{
    width: 2rem;
    border-radius: 7px;
}
.nav_orden img{
    margin: auto 1rem;
}

.nav_orden a:hover{
    font-weight: bold;
    text-decoration: underline !important;

}
.main{
    background: url(../img/edificio_fondo.webp);
    background-size: cover;
    padding: 2rem;
    margin: 0rem;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 100vh;
}
.main_titulo{
    display: inline-block;
    padding: 2rem 1.5rem 1rem;
    display: flex;
    justify-content: start;
}
.titulo_caja{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_titulo img{
    display: inline-block;
}
.main_titulo h1{
    display:inline-block;
}
.main h3{
    text-align: center;
    padding-bottom: 2rem;
}
.main h2{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    height: 5rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px rgb(188, 191, 8);
}
.filtro{
    background-color: rgba(96, 96, 96, 0.503);
    border-radius: 7px;
}
.cards_edit{
    border: 1px solid rgba(0, 0, 0, 0.511);
    border-radius: 7px;
    margin: 0rem auto;
    background-color: rgb(207, 215, 223);
}
.cards_edit a{
    width: 100%;
    padding: 4rem;
}
.cards_edit p,.boton{
    font-size: 1.3rem;
}
.flex{
    width: 100%;
    height: 100%;
}
.cards_edit:hover{
    background-color: rgba(83, 150, 252, 0.811);
}
.form{
    width: 30%;
    margin: 5rem auto;
}
.form input,.form label,.form textarea{
    height: 5.7rem !important;
}
.form input,.form textarea{
    font-size: 1.4rem;
}
.form div{
    margin-bottom: 1.5rem;
}
#texto{
    height: 10rem !important;
}
.form button{
    font-size: 1.5rem;
}
table{
    width: 80%;
    border: solid black 2px;
    border-radius: 3px;
}
tbody tr{
    border: solid 1px black;
}
.boton{
    padding: .3rem 1.4rem;
    border: solid black 1px;
    border-radius: 13px;
    background: none;
}

.boton_eliminar{
    background-color: red;
    padding: .5rem;
    border-radius: 5px;
}
.boton_mod{
    background-color: rgb(248, 232, 14);
    padding: .5rem;
    border-radius: 5px;
}
.boton_eliminar:hover,.boton:hover,.boton_mod:hover{
    color:aliceblue;
    background-color: black;
}
td, th {
  padding: 10px;
}
tr {
  height: 70px;
}
.nav li{
    padding-right: 4rem;
}
.nav a{
    text-decoration: none;
    color: white;
}
.div_enlace_registro{
    padding-top: 2rem;
}
.enlace_registro{
    color: rgb(72, 94, 236);
    text-decoration: underline !important;
    font-style: oblique;
}
.table-item{
    width: 100% !important;
    background-color: aliceblue;
}
.main-item{
    width: 100% !important;
}

/*MENSAJES*/
.mensajes-main{
    margin: auto;
    width: 50%;
    color: azure;
}
.mensajes-grupo{
    border:solid black .4rem;
    border-radius: 8px;
    padding: 2rem;
    background-color: rgb(23, 37, 44) !important;
    margin-bottom: 2rem;
    position: relative;
}
.mensajes-grupo a{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    border-top-left-radius: 7px;
}
.mensaje-texto{
    background-color: rgba(167, 214, 255, 0.916) !important;
    padding: 2rem 1rem;
    margin-top: 1rem;
    border-radius: 7px;
    color: black;
}
.mensajes-grupo:hover{
    background-color: aliceblue !important;
    border:solid gold;
    color: rgb(0, 0, 0);
}
.inquilino-header{
    padding: 2rem !important;
    background-color: rgba(0, 255, 255, 0.116);
}
.inquilino-header p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.container-items{
    display: flex;
    justify-content: space-around;
    
}
.container-items>div{
    flex: 10%;
    background-color: black;
    border-radius: 7px;
}