html{
    font-size: 62.5%;
    background-color: rgba(8, 12, 48, 0.999);
}
body{
    max-width: 120rem;
    margin: 0 auto;
    border: .2rem solid goldenrod;
    font-size: 16px;
}
h3{
    color: aliceblue;
    text-align: center;
    margin: 6rem auto;
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.nav-index{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: rgba(14, 6, 70, 0.895);
}
.nav-enlaces{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1.5rem;
}
.enlaces:hover{
    color: yellow;
}
.navegador-busqueda{
    background-color: rgba(241, 242, 231, 0.586);
    display: flex;
    max-width: 100%;
    max-height: 3rem;
    align-items: center;
    justify-content:space-evenly;
    padding: 1.5rem 0.1rem;
}
ul{
    padding-inline-start: 0rem;
}
.navegador-busqueda li{
    color: rgb(0, 0, 0);
    background-color: rgba(182, 175, 40, 0);
    padding: .6rem 1rem;
    border-radius: .7rem;
    border: .1rem solid;
    list-style:none;
    cursor: pointer;
    text-transform:uppercase;
    max-width: 100%;
    margin: auto .1rem;
}
.navegador-busqueda li:hover{
    background: linear-gradient(to bottom right, rgb(224, 241, 73), rgba(24, 20, 107, 0.968));
    padding: 1rem;
    color: aliceblue;
}
.logo{
    height: 5rem;
    width: 10rem;
}
#header-index{
    background-image: url(../media/images/San_Diego/2.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
}
#index-titulo{
    padding: 8rem 6rem;
    color: rgb(255, 255, 255);
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.247);
    border-right: .5rem solid goldenrod;
}
#index-titulo h2{
    text-transform: uppercase;
    text-decoration:underline;
    font-size: 3rem;
}
#index-titulo p{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
}
.index-idiomas{
    display:flex;
    padding: 6rem;
    align-items: center;
    justify-content: center;
}
.index-idiomas img{
    width: 3rem;
    cursor: pointer;
}
#idiomas-contorno{
    background-color: rgba(0, 1, 1, 0.553);
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}
#main-index-ordenar{
    display: grid;
    grid-template-columns:2fr 1fr;
    gap: 2.5rem;
    margin: auto 2rem;
}
.main-propiedades{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    gap: 2rem;
}
.index-propiedad{
    border: solid .5rem;
    height: 40rem;
    cursor: pointer;
    color: antiquewhite;
    text-align: center;
}
.index-publicidad{
    height: 83rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.index-publicidad a{
    margin-top: 3rem;
}
.index-imagenes-propiedades{
    background-position:center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 65%;
}
.index-imagenes-propiedades:hover{
    height: 85%;
    width: 100%;
}
#propiedad-1{
    background-image: url(../media/images/Guatemala4747_Piso3C/1.jpg);
}
#propiedad-2{
    background-image: url(../media/images/Nicaragua5580_Piso4_UF401/1.jpg);
}
#propiedad-3{
    background-image:url(../media/images/San_Diego/1.jpg);
}
#propiedad-4{
    background-image: url(../media/images/Ciudad_de_la_Paz151_Piso4_UF408/1.jpg);
}
.footer{
    color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5rem 0rem 5rem 4rem;
    background-color: black;
    font-size: 2rem;
    margin-top: 4rem;
}
.footer img{
    padding-left: 1.5rem;
}
#index-barra{
    display: flex;
    background-color: rgba(3, 36, 125, 0.842);
    border-radius: 1rem;
}
#index-buscador{
    background-color: rgba(127, 255, 212, 0.021);
    color: antiquewhite;
    padding: 1.5rem 0rem 1.5rem 1rem;
    border: none;
    border-radius: 1rem;
    width: 25rem;
}
::placeholder{
    color: rgba(240, 248, 255, 0.642);
}